@page
@model MyNotebook.Pages.Notes.IndexModel
@{
}

<br />

<div class="container">
    <div class="col-10">
        <h2>My notes</h2>
    </div>
    
    <div class="search">
        <p>
            <form>
                <input type="text" asp-for=SearchInputTitle />
                <select asp-items="Model.CategoriesNames" asp-for="SelectedCategorysName">
                    <option value="">Select Category</option>
                </select>
                <input type="submit" value="Search" />
                 
            </form>
        </p> 
        <div class="col-2">
           <a asp-page="Create" class="btn create">Create note</a>
        </div>
     </div>

     <div class="note-section">
        <form method="post">
          
            @if(Model.Notes.Count > 0)
            {
                 @foreach (var note in Model.Notes)
                 {
                      <div class="note">
                          <h3>@note.Category.Title</h3>
                          <h1>@note.Title</h1>
                          <p>@note.Content</p>
                          <div class="note-buttons">
                               <a asp-page="Edit" asp-route-id="@note.Id" class="btn btn-success btn-sm">Edit</a>
                               <button asp-page-handler="Delete" asp-route-id="@note.Id" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm">Delete</button>
                          </div>
                      </div>
                 }
                   
            }
            else{
                 <p>No notes yet</p>
            }
        </form>
    </div>
</div>









